<footer>
  <div mt-6 text-xs>
    <!-- <div op-60>网站完全恢复啦! 感谢<a class=" gpt-subtitle text-xs" href="https://peiqishop.cn">佩奇GPT商店</a>赞助的token额度, 各位如果有购买key的需求可以点击看下我们的佩奇赞助商</div> -->
    <!-- <div op-60>我们正在遭受OpenAI大规模封号的影响, 账号池中全部账号已被封禁, 损失惨重😭, 我们正在努力寻找购买token渠道, 最近服务可能不可用, 如果您有便宜的购买渠道, 请联系我们: <a gpt-subtitle text-xs href="mailto:free2gpt@gmail.com">free2gpt@gmail.com</a> , 感谢在这两天基本不可用的状态下仍然给我们捐赠的同学,感谢!</div> -->
    <!-- <div op-60>token额度已用完，我们正在积极采购，很快就会恢复</div> -->
    <!-- <div op-60>完全免费 无需魔法 无需登录 120次/天</div> -->
    <div op-60>朋友你好👋, 元旦快乐! 2023感谢有你的支持和捐赠, 2024我们会不忘初心, 继续提供免费的GPT服务, 希望它能助你一臂之力, 提前祝愿各位在新的一年里所愿皆有所得。如果大家觉得本站点做得还不错, 请考虑打赏支持我们, 或向朋友分享我们的链接: <span id="copyLinkButton" class="gpt-subtitle text-xs cursor-pointer">https://chatz.free2gpt.xyz</span> 这对我们持续维护非常重要, 谢谢😘</div>

    <div op-100 id="hongbao">
      <!-- <span op-60 leading-4>我们站点已更新到了最新的gpt-3.5-turbo-1106模型, 速度流畅, 体验丝滑, 也有了更长的上下文, 但这也意味着成本的提高, 如果觉得好用, 请给我们一个打赏, 您的支持是我们持续维护的最大动力!</span> -->
      <!-- <span op-60 leading-6>完全免费 无需魔法 无需登录 120次/天 | 领支付宝红包🧧</span> -->
      <!-- <span class="op-80 border-1 px-2 py-1 mx-1 rounded-md transition-colors bg-slate/20 cursor-pointer hover:bg-slate/50">领取</span> -->
      <!-- <div id="hongbao_img" class="hidden">
        <img class="w-1/2 max-w-[180px] my-4" src="/hongbao_j.jpg" />
        <span class="op-80 border-1 px-2 py-1 mx-1 rounded-md transition-colors bg-slate/20 cursor-pointer hover:bg-slate/50">关闭</span>
      </div> -->
    </div>

    <!-- <div op-60>域名更新为:<a class="gpt-subtitle text-xs" href="https://chato.free2gpt.xyz" target="_blank">chato.free2gpt.xyz</a> 如果突然打不开, 那大概率是域名被污染了。虽然我们只是小团队, 但不会突然关闭网站, 至少会提前跟大家说一声, 最新域名会第一时间更新到导航站, 请保存↓↓↓</div> -->
    <div mt-2 op-60>收藏不迷路: <a class="gpt-subtitle text-xs" href="https://nav.free2gpt.xyz" target="_blank">https://nav.free2gpt.xyz</a>🌟</div>
    <div mt-2><a class=" gpt-subtitle text-xs" href="https://gpt4f.ninvfeng.xyz">赞助商: 3.5不够聪明? 付费使用GPT4</a>😎</div>
    <div mt-2><a class=" gpt-subtitle text-xs" href="https://peiqishop.cn">赞助商: 佩奇商店,有售便宜稳定3.5和4.0 API Key</a>🦄</div>
  </div>
</footer>
<script>
document.addEventListener('DOMContentLoaded', () => {
  document.getElementById('copyLinkButton').addEventListener('click', () => {
    navigator.clipboard.writeText('https://chatz.free2gpt.xyz').then(() => {
      window.alert('链接已复制')
    }).catch(() => {
      window.alert('复制失败,请手动复制链接')
    })
  })
})
</script>
