---
import Themetoggle from './Themetoggle.astro'

const url = new URL(Astro.request.url)
const isLlama3_70b = url.hostname === 'llama3.free2gpt.xyz'
---

<header>
  <div class="fb items-center">
    <div class="flex">
      <span class="gpt-subtitle">Free2gpt</span>
      {isLlama3_70b
        ? (
        <p class="op-60 ml-1 text-sm mt-2.5">llama3-70b模型</p>
          )
        : (
        <p class="op-60 ml-1 text-sm mt-2.5">llama3-8b模型</p>
          )}
    </div>
    <Themetoggle />
  </div>
</header>
