---
import { model } from '../utils/openAI'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <div class="flex">
      <span class="gpt-subtitle">Free2gpt</span>
      <p class="op-60 ml-1 text-sm mt-2.5">llama3-8b模型</p>      
    </div>
    <Themetoggle />
  </div>
</header>
